.errorContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    margin-bottom: 1rem;
    opacity: 0.6;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  p {
    font-size: 0.9rem;
    color: var(--color-light);
  }
}

.errorContainerMini {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 50px;
    margin-bottom: 0.5rem;
    opacity: 0.6;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    font-size: 0.8rem;
    color: var(--color-light);
  }
}

.emptyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-user-select: none;
  user-select: none;

  img {
    margin-bottom: 1rem;
    opacity: 0.6;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  p {
    font-size: 0.9rem;
    color: var(--color-light);
  }
}
