.navigationItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  border-radius: 0.35rem;
  cursor: pointer;
  color: var(--color-light);

  &:hover {
    background: var(--hover-tile);
  }

  i {
    width: 25px;
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
    font-weight: 500;
  }

  &.active {
    background: var(--hover-tile-light);
    color: var(--color);

    p {
      font-weight: 600;
    }
  }
}
