.status {
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 3.2rem;
  font-size: 0.7rem;
  font-weight: 500;
}

.role {
  font-size: 0.8rem;
  background: var(--role-bg);
  color: var(--color);
  padding: 0.3rem 0.9rem;
  border-radius: 3.2rem;
  user-select: none;
  -webkit-user-select: none;
}
