.userCard {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: var(--tile-bg);
  border-radius: 0.9rem;
  box-shadow: 0 10px 10px var(--box-shadow);
  z-index: 100;
  animation: dropIn 0.25s ease-out forwards;

  .userInfo {
    display: flex;
    gap: 0.5rem;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: var(--border);
      position: relative;

      .onlineStatus {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15px;
        height: 15px;
        border: 2px solid var(--tile-bg);
        border-radius: 50%;
        background: var(--success);
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 1rem;
        font-weight: 600;
      }

      p {
        font-size: 0.9rem;
        color: var(--color-light);
      }

      span {
        margin-top: 0.2rem;
        width: fit-content;
        font-size: 0.7rem;
        font-weight: 600;
        color: var(--color-light);
        border-radius: 32px;
        border: 1px solid var(--border);
        padding: 0.2rem 0.5rem;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 0.3rem;
      border-radius: 0.35rem;
      border: 1px solid var(--border);
      background: var(--tile-bg);
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
}

@keyframes dropIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
